body{
    background-color: antiquewhite;
}

p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

